<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Incorrect Update</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src='main.js'></script>
</head>
<body>
    <div>
        <div>
            <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                <h3> Incorrect Details</h3>
                <p class="text-right"> <a href="/customer_dashboard/{{u1.cm_id}}" class="btn btn-info">Dashboard</a> </p>
            </nav>
        </div>
        <br>
        <div class="container">
            <h5>Oops! Password not matching or Phone number format is incorrect</h5>
            <br>
            <p> <a href="/profile/{{u1.cm_id}}" class="btn btn-warning">Try Again</a> </p>
        </div>
    </div>
</body>
</html>