<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Manager Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div > 
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">  <h3> Manager Login </h3> </nav>
    </div>
    <br>
    <form action="/manager_login" method="POST" id="manager-form">
        <div class="container form-group">
            <div>
                <label> <b> Username: </b> </label>
                <input type="text" name="username" placeholder="Please enter your admin username" maxlength="30" size="30" required/>
            </div>
            <br>
            <div>
                <label> <b> Password: </b> </label>
                <input type="password" name="password" placeholder="Please enter admin password" maxlength="30" size="30" required/>
            </div>
            <br>
            <div>
                <input type="submit" value="Login" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</body>
</html>